---
import PreviewCard from "./PreviewCard.astro";

export interface Props {
	sectionTitle: string;
	previews: Array<Preview>;
	targetPath?: string;
	isColored?: boolean;
}

interface Preview {
	title: string;
	excerpt: string;
	slug?: string;
	linkLabel?: string;
}

const {
	sectionTitle,
	previews,
	targetPath = "/",
	isColored = false,
} = Astro.props;
const colorStyle = isColored ? "bg-gray-100 dark:bg-gray-800" : "";
const textColor = isColored ? "text-gray-800 dark:text-gray-100" : "";
---

<section
	id={sectionTitle}
	class={`w-full py-12 md:py-24 lg:py-32 ${colorStyle} ${textColor}`}
>
	<div class="container px-4 md:px-6">
		<h2 class="text-3xl font-bold tracking-tighter sm:text-4xl">
			{sectionTitle}
		</h2>
		<div class="grid gap-6 mt-8 md:grid-cols-2 lg:grid-cols-3">
			{
				previews.map((preview) => (
					<PreviewCard
						title={preview.title}
						excerpt={preview.excerpt}
						linkLabel={preview.linkLabel}
						targetUrl={`${targetPath}${preview.slug || ""}`}
					/>
				))
			}
		</div>
	</div>
</section>
