---
import PreviewCard, {
	type Props as PreviewCardProps,
} from "./PreviewCard.astro";

export interface Props {
	sectionTitle: string;
	previews: Array<PreviewCardProps>;
	isColored?: boolean;
}

const { sectionTitle, previews, isColored = false } = Astro.props;
const colorStyle = isColored ? "bg-gray-100 dark:bg-gray-800" : "";
---

<section
	id={sectionTitle}
	class={`w-full py-12 md:py-24 lg:py-32 ${colorStyle}`}
>
	<div class="container px-4 md:px-6">
		<h2 class="text-3xl font-bold tracking-tighter sm:text-4xl">
			{sectionTitle}
		</h2>
		<div class="grid gap-6 mt-8 md:grid-cols-2 lg:grid-cols-3">
			{
				previews.map((preview) => (
					<PreviewCard
						title={preview.title}
						excerpt={preview.excerpt}
						linkLabel={preview.linkLabel}
					/>
				))
			}
		</div>
	</div>
</section>
