---
import { getCollection } from "astro:content";
import BaseLayout from "../layouts/BaseLayout.astro";
import Post from "../components/blog/Post.astro";

const blogEntries = await getCollection("blogPosts");
const pageTitle = "Blog";
---

<BaseLayout pageTitle={pageTitle} withTitle>
	<div class="flex flex-col min-h-screen">
		<main class="flex-1 py-8 px-4 md:px-6 lg:px-8">
			<section class="mb-8">
				<h2 class="text-2xl font-bold mb-4">Recent Posts</h2><div
					class="grid gap-4 md:grid-cols-2 lg:grid-cols-3"
				>
					{
						blogEntries.map(
							({
								data: { title, pubDate, description },
								slug,
							}) => (
								<Post
									title={title}
									date={pubDate}
									excerpt={description}
									slug={slug}
								/>
							),
						)
					}
				</div>
			</section>
		</main>
	</div>
</BaseLayout>
