---
import { getCollection } from "astro:content";

import BaseLayout from "../layouts/BaseLayout.astro";
import IntroductionSection from "../components/homepage/IntroductionSection.astro";
import aboutMeImage from "../images/computer_programming_man.png";
import PreviewSection from "../components/homepage/PreviewSection.astro";

const aboutMeDescription = `
Hello, I'm a seasoned full stack web developer with four years of professional experience, holding a Computer Science degree from The University of Hong Kong. Proficient in JavaScript and TypeScript, I seamlessly navigate both frontend and backend development. My enthusiasm for technology extends to exploring languages like Rust. In my free time, I enjoy experimenting with various technologies, constantly broadening my skill set. Having dedicated over two years to web development in Hong Kong, I recently relocated to Tokyo, eager to contribute my expertise and continue evolving in this dynamic field.`;
const blogPosts = await getCollection("blogPosts");
const blogPreviews = blogPosts.map(
	({ data: { title, description }, slug }) => ({
		title,
		excerpt: description,
		slug,
	}),
);

const projectPreview = [
	{
		title: "Project 1",
		excerpt:
			"This is a brief description of the first project. Click the link below to view more details.",
	},
	{
		title: "Project 2",
		excerpt:
			"This is a brief description of the second project. Click the link below to view more details.",
	},
	{
		title: "Project 3",
		excerpt:
			"This is a brief description of the third project. Click the link below to view more details.",
	},
];

const pageTitle = "Home page";
---

<BaseLayout pageTitle={pageTitle}>
	<main class="flex-1">
		<IntroductionSection
			sectionTitle="About Me"
			description={aboutMeDescription}
			image={aboutMeImage}
		/>
		<PreviewSection
			sectionTitle="Blog"
			previews={blogPreviews}
			targetPath="/blog-posts/"
			isColored={true}
		/>
		<PreviewSection sectionTitle="Projects" previews={projectPreview} />
	</main>
</BaseLayout>
